<div class="container-fluid config">
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 col-sm-3">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Creación</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">person</i>Cliente</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">business</i>Orden de misión</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">assignment</i>Tareas</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">people</i>Tecnico</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">event</i>Calendario horario</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">developer_board</i>Calendario de días festivos</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false"
								    aria-controls="collapseTwo">Administrador</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">supervisor_account</i>M. Admin</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">person_add</i>Usuarios para realizar ordenes</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">access_time</i>Usuario de prueba</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false"
								    aria-controls="collapseThree">Calendarios</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">today</i>Días de trabajo tipo</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">event</i>Calendarios horarios</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">developer_board</i>Calendarios de días festivos</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">speaker_notes</i>Razones de indisponibilidad</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false"
								    aria-controls="collapseFour">Personalización</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">branding_watermark</i>Intervalos</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">receipt</i>Vistas</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">subject</i>Vocabulario</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">g_translate</i>Idiomas</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">show_chart</i>Informes integrados</li>
								</ul>
							</div>
						</div>
                    </div>
                    <div class="panel panel-default">
						<div class="panel-heading" role="tab" id="collapseFive">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false"
								    aria-controls="collapseThree">Calendarios</a>
							</h4>
						</div>
						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseFive">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">today</i>Días de trabajo tipo</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">event</i>Calendarios horarios</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">developer_board</i>Calendarios de días festivos</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">speaker_notes</i>Razones de indisponibilidad</li>
								</ul>
							</div>
						</div>
					</div>
                </div>
			</div>
			<div class="col-md-10 col-sm-9 bg-white">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<h3>
						<i class="material-icons v-a-sub i-tile">cloud_download</i>
						<span>Opciones comunes de importación</span>
					</h3>

					<div class="col-md-12">

						<button class="btn btn-warning">Actualizar</button>
					</div>

				</div>
			</div>
			<div class="col-md-10 col-sm-9 bg-white">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<h3>
						<i class="material-icons v-a-sub i-tile">cloud_upload</i>
						<span>Opciones comunes de Exportación</span>
					</h3>

					<div class="col-md-12">
						<button class="btn btn-success">Exportar</button>
					</div>



				</div>
			</div>
		</div>
	</div>
