<div class="container-fluid config">
	<br>
	<br>
	<br>
	<br>
	<div class="row">
		<div class="col-md-12">
			<div class="col-md-2 col-sm-3">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<h4 class="panel-title">
								<a role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Creación</a>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">person</i>Cliente</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">business</i>Orden de misión</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">assignment</i>Tareas</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">people</i>Tecnico</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">event</i>Calendario horario</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">developer_board</i>Calendario de días festivos</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo" aria-expanded="false"
								 aria-controls="collapseTwo">Administrador</a>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">supervisor_account</i>M. Admin</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">person_add</i>Usuarios para realizar ordenes</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">access_time</i>Usuario de prueba</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseThree" aria-expanded="false"
								 aria-controls="collapseThree">Agencia</a>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">home</i>Todas</li>
								</ul>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<h4 class="panel-title">
								<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFour" aria-expanded="false"
								 aria-controls="collapseFour">Elementos recientes</a>
							</h4>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">access_time</i>Sadf</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">supervisor_account
										</i>Primero modelo 1</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">access_time</i>Test</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">assignment</i>Orden de ensayo</li>
									<li class="pointer">
										<i class="material-icons v-a-bottom">local_shipping</i>Tecnico mecanico</li>
								</ul>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading" role="tab" id="headingTwo">
								<h4 class="panel-title">
									<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" data-target="#collapseFive" aria-expanded="false"
									 aria-controls="collapseFive">Resumenes</a>
								</h4>
							</div>
						</div>
						<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<ul>
									<li class="pointer">
										<i class="material-icons v-a-bottom">format_list_numbered</i>Ningún registro</li>

								</ul>
							</div>
						</div>
					</div>

				</div>
			</div>
			<div class="col-md-10 col-sm-9 bg-white">
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

					<h3>
						<i class="material-icons v-a-sub i-tile">offline_pin</i>
						<span>Planning</span>
					</h3>
					<label>Busqueda
						<select name="planningTable_length" aria-controls="planningTable" class="">
							<option value="10">Estandar</option>
							<option value="25">Todas</option>
						</select></label>
					<div class="col-md-12">
						<button class="btn btn-twitter">Nuevo</button>
						<button class="btn btn-twitter">Eliminar</button>
						<button class="btn btn-twitter">Desactivar</button>
						<button class="btn btn-twitter">Activar</button>
						<button class="btn btn-twitter">Actualizar</button>
					</div>
					<div class="col-md-12">
						<div class="table-responsive">
							<div class="material-datatables">
								<br>
								<table id="planningTable" class="display nowrap" cellspacing="0" width="100%">
									<thead>
										<tr>
											<th class="text-center">#</th>
											<th class="text-center">Id</th>
											<th class="text-center">Nombre</th>
											<th class="text-center">Descripción</th>
											<th class="text-center">Depende de</th>
											<th class="text-center">Acción</th>
										</tr>
									</thead>
									<tfoot>
										<tr>
											<th class="text-center">#</th>
											<th class="text-center">Id</th>
											<th class="text-center">Nombre</th>
											<th class="text-center">Descripción</th>
											<th class="text-center">Depende de</th>
											<th class="text-center">Acción</th>
										</tr>
									</tfoot>
									<tbody>
										<tr ng-repeat="planning in planCtrl.listplanning">
											<td class="text-center">{{$index}}</td>
											<td class="text-center">{{planning.id}}</td>
											<td class="text-center">{{planning.name}}</td>
											<td class="text-center">{{planning.description}}</td>
											<td class="text-center">{{planning.dependence}}</td>
											<td class="text-center">
												<a ng-click="planCtrl.fillFields(planning.id)" href class="btn btn-simple btn-warning btn-icon edit">
													<i class="material-icons">mode_edit</i>
												</a>
												<a ng-click="planCtrl.confirm('delete',planning.id)" id="btnDeleteCustomer{{planning.id}}" data-loading-text="<i class='fa fa-spinner fa-spin '></i>"
												 href class="btn btn-simple btn-danger btn-icon remove">
													<i class="material-icons">close</i>
												</a>
											</td>
										</tr>
									</tbody>
								</table>
								<br>
							</div>
						</div>
					</div>


				</div>
			</div>
		</div>
	</div>